@import '../../../styles/classes.scss';

.container {
  @extend .non-playable-level-container;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
}

p {
  max-width: 40vw;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: white;
  color: black;
  min-width: 40vw;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}